//* box-shadow:
$bsh-bg: 0 15px 15px 0 rgba(0, 0, 0, 0.3);
$bsh-bg-hover: 0px 20px 20px 0px rgba(0, 0, 0, 0.3);

:root {
    //* colors:
    --blue: #2a358c;
    --dark-blue: #2e4a64;
    --green: #00ae5b;
    --light_green: #8fbc8f;
    --dark-red: #8a1515;
    --white: #ffffff;
}
